<h1> Edit existing article</h1>

<h2> The following erros prevented the article from getting updated</h2>
<% if @article.errors.any? %>
<% @article.errors.full_messages.each do |msg| %>
<ul>
    <li>
        <%= msg %>
    </li>
</ul>
<% end %>
<% end %>


<%= form_for @article do |t| %>
<p>
    <%= t.label :title %><br/>
    <%= t.text_field :title %>
</p>
<p>
    <%= t.label :description %><br/>
    <%= t.text_area :description %> 
</p>
<p>
    <%= t.submit %>
</p>

<% end %>